section#login-form,
section#register-form {
    background-image: url('http://www.imgbase.info/images/safe-wallpapers/digital_art/3d_space_scene/23775_3d_space_scene_futuristic_futuristic_space_city.jpg');
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
section#login-form .overlay,
section#register-form .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    opacity: 0.5;
}
section#login-form h1,
section#register-form h1 {
    color: black;
    font-weight: bolder;
    margin-bottom: 40px;
    text-align: center;
    font-family: 'Arial';
    font-size: 3em;
}
section#login-form form,
section#register-form form {
    text-align: center;
    font-family: 'arial';
}
section#login-form form .form-group,
section#register-form form .form-group {
    text-align: center;
}
section#login-form form .form-group input,
section#register-form form .form-group input {
    background: transparent;
    margin: 0 auto;
    color: black;
    max-width: 300px;
    border: 1px solid black;
}
section#login-form form .form-group:last-of-type,
section#register-form form .form-group:last-of-type {
    max-width: 300px;
    margin: 0 auto;
}
section#login-form form .form-group:last-of-type p,
section#register-form form .form-group:last-of-type p {
    line-height: 35px;
    color: black;
}
section#login-form form .form-group:last-of-type p a,
section#register-form form .form-group:last-of-type p a {
    color: black;
    text-decoration: none;
}
section#login-form form .form-group:last-of-type button,
section#register-form form .form-group:last-of-type button {
    background: transparent;
    color: black;
    border: 1px solid black;
}
